* {
  font-family: 'Roboto', sans-serif;
}

/* * {
  border: 2px solid blue;
  margin: 0;
} */

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(/src/images/boat_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* html, body {
  /* background-color: lightseagreen; */
  /* height: 100vh;
  width: 100vw */
  
/* } */ 

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}

.login-page-title, .login-page-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  height: 50%;
  width: 100%;
}

.user-name-container, .user-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-button {
  height: 50px;
  width: 100px;
}





.login-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  height: 300px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  
}

.header-title {
  margin-left: 20px;
  color: white
}

.header-welcome-message {
  margin-right: 20px;
  color: white
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh;
}

.nav-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.user-annual-amount-spent {
  margin-top: 5px;
  color: white;
  font-weight: 700
}

.user-spent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  width: 300px;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.user-spend-title {
  margin-bottom: 0px;
  margin-top: 2px;
  color: white
}

/* .top-container {
  background-image: url(/src/images/water_background.png);
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
} */
/* .book-adventure-button {
  height: 50px;
  width: 250px;
  border-radius: 5px;
  background-color: blue;
  color: white;
} */

.trip-selection-buttons-container {
  height: 60px;
  width: 455px;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-trip-selection-button {
  border-radius: 5px;
  height: 25px;
  width: 135px;
  background-color: blue;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}

.book-trip-form-container {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book-trip-form {
  height: 5vh;
  width: 850px;
  display: flex;
  justify-content: space-around;
}

.input {
  display: flex;
  align-items: center;
  height: 27px;
  width: 198px;
  justify-content: space-around;
  box-sizing: content-box;
}

.est-cost {
  color: white;
  text-align: center;
}

.trip-cards-container {
  height: 65vh;
  width: 100vw;
}

.past-trips-title, .pending-trips-title {
  display: flex;
  justify-content: center;
  color: white;
}
/* footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

article {
  height: 100px;
} */

.media-scroller {
  margin-top: 10px;
  --spacer: 2rem;
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 10%;
  justify-content: center;
  padding: 0 var(--spacer) var(--spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-inline: var(--gap);
  scroll-padding-inline: var(--gap);
  padding-block: calc(var(--gap) / 2);
}

.media-element {
  display: grid;
  grid-template-rows: min-content ;
  gap: 12px;
  padding: 2px;
  background: var(--surface--2);
  border-radius: var(--radius--2);
  /* box-shadow: var(--shadow-2); */
  text-align: center;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.media-element > img {
  max-height: 100%;
  max-width: 100%;
  /* inline-size: 100%; */
  object-fit: cover;
  position: relative;
  aspect-ratio: 16/9;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.estimate-trip-button , .book-trip-button {
  cursor: pointer;
}

.dest-title {
  font-weight: 700;
  font-size: 12px;
}

.dest-date, .traveler-number, .traveler-duration {
  font-size: 10px;
  font-weight: 500;
}

.hidden {
  display: none;
}